<div class="container text-center col-md-9 bg-info-subtle">
   <h1 class="text text-uppercase">Order Detail</h1>
   <h4>Phone model : {{phone.model}} </h4>
   <h4>Phone price : {{phone.price}} USD</h4>
   <h4>Order quantity: {{ quantity }}</h4>
</div>