<h1>{{ fpt }}</h1>
<h2>2 Pham Van Bach - Cau Giay - Ha Noi</h2>
<h3>We are living in {{ year}}</h3>

<ul>
   {{#each clubs }}
      <li>
         {{ this }}
      </li>
   {{/each}}
</ul>

<table border="2">
   {{#each logos }}
      <tr>
         <th>
            <img src="/images/{{ this }}" width="100" height="100">
         </th>
      </tr>
   {{/each}}
  
</table>

<a href="/">Homepage</a>

