<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/script.js"></script>
  </head>
  <body>
    <button onclick="return welcome();">
      Welcome
    </button> <br><br>
    <button onclick="return setGreen()">
      GREEN
    </button>
    <button onclick="return setBlue()">
      BLUE
    </button>
    {{{body}}}
  </body>
</html>
