<form action="/login" method="post">
   <fieldset>
      <legend>User Login</legend>
      Username: <input type="text" name="username" required>
      <br><br>
      Password: <input type="password" name="password" required>
      <br><br>
      <input type="submit" value="Login">
   </fieldset>
</form>