<form action="" method="post">
   Username: <input class="form-control" type="text" name="" id="">
   <br><br>
   Password: <input class="form-control" type="password" name="" id="">
   <br><br>
   <input class="btn btn-primary" type="submit" value="Login">
</form>